## Pyspark pour la manipulation et l'analyse de gros données

In [1]:
!pip install pyspark -q
!pip install findspark -q

In [2]:
# Creation d'une session Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Final Project").getOrCreate()

In [3]:
import os

# Chemin absolu du dossier courant
chemin_courant = os.getcwd()
print("Chemin du dossier courant :", chemin_courant)

Chemin du dossier courant : /content

#### Telechargement des données

In [ ]:
# Importer depuis le local
# from google.colab import files
# uploaded = files.upload()

In [3]:
!wget https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD

--2025-05-05 11:12:48--  https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.140.199, 52.206.140.205, 52.206.68.26
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType=DOWNLOAD’

rows.csv?accessType     [              <=>   ]   1.83G  1.09MB/s    in 23m 51s

2025-05-05 11:36:40 (1.31 MB/s) - ‘rows.csv?accessType=DOWNLOAD’ saved [1962797304]

In [4]:
!mv rows.csv\?accessType\=DOWNLOAD reported-crimes.csv

#### Ingestion des données

In [5]:
# Lecture du fichier
df = spark.read.csv(
    "reported-crimes.csv",
    header = True
)
df.show(5)

+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|                Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|13311263|   JG503434|07/29/2022 03:39:...|     023XX S TROY ST|1582|OFFENSE INVOLVING...|   CHILD PORNOGRAPHY|           RESIDENCE|  true|   false|1033|     010|  25|            30|      17|        NULL|        NULL|2022|04/18/2024 03:40:...|        NULL|         NULL|                NULL|
|13053066|   JG103252|01/03/2023 04:44:...|039XX W WASHINGTO...|2017|           NARCOTICS|MANUFACTURE / DEL...|            SIDEWALK|  true|   false|1122|     011|  28|            26|      18|        NULL|        NULL|2023|01/20/2024 03:41:...|        NULL|         NULL|                NULL|
|11227634|   JB147599|08/26/2017 10:00:...| 001XX W RANDOLPH ST|0281| CRIM SEXUAL ASSAULT|      NON-AGGRAVATED|         HOTEL/MOTEL| false|   false|0122|     001|  42|            32|      02|        NULL|        NULL|2017|02/11/2018 03:57:...|        NULL|         NULL|                NULL|
|13203321|   JG415333|09/06/2023 05:00:...|    002XX N Wells st|1320|     CRIMINAL DAMAGE|          TO VEHICLE|PARKING LOT / GAR...| false|   false|0122|     001|  42|            32|      14|     1174694|     1901831|2023|11/04/2023 03:40:...|41.886018055|-87.633937881|(41.886018055, -8...|
|13204489|   JG416325|09/06/2023 11:00:...|      0000X E 8TH ST|0810|               THEFT|           OVER $500|PARKING LOT / GAR...| false|   false|0123|     001|   4|            32|      06|     1176857|     1896680|2023|11/04/2023 03:40:...|41.871834768| -87.62615082|(41.871834768, -8...|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

In [ ]:
df.count()

8305598

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Type des variables
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

#### Manipulation des données

In [ ]:
from pyspark.sql.functions import to_timestamp, col
df = df.withColumn(
    'Date',
    to_timestamp(col('Date'), 'MM/dd/yyyy hh:mm:ss a')
)
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

In [ ]:
df.show(5)

+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|13311263|   JG503434|2022-07-29 03:39:00|     023XX S TROY ST|1582|OFFENSE INVOLVING...|   CHILD PORNOGRAPHY|           RESIDENCE|  true|   false|1033|     010|  25|            30|      17|        NULL|        NULL|2022|04/18/2024 03:40:...|        NULL|         NULL|                NULL|
|13053066|   JG103252|2023-01-03 16:44:00|039XX W WASHINGTO...|2017|           NARCOTICS|MANUFACTURE / DEL...|            SIDEWALK|  true|   false|1122|     011|  28|            26|      18|        NULL|        NULL|2023|01/20/2024 03:41:...|        NULL|         NULL|                NULL|
|11227634|   JB147599|2017-08-26 10:00:00| 001XX W RANDOLPH ST|0281| CRIM SEXUAL ASSAULT|      NON-AGGRAVATED|         HOTEL/MOTEL| false|   false|0122|     001|  42|            32|      02|        NULL|        NULL|2017|02/11/2018 03:57:...|        NULL|         NULL|                NULL|
|13203321|   JG415333|2023-09-06 17:00:00|    002XX N Wells st|1320|     CRIMINAL DAMAGE|          TO VEHICLE|PARKING LOT / GAR...| false|   false|0122|     001|  42|            32|      14|     1174694|     1901831|2023|11/04/2023 03:40:...|41.886018055|-87.633937881|(41.886018055, -8...|
|13204489|   JG416325|2023-09-06 11:00:00|      0000X E 8TH ST|0810|               THEFT|           OVER $500|PARKING LOT / GAR...| false|   false|0123|     001|   4|            32|      06|     1176857|     1896680|2023|11/04/2023 03:40:...|41.871834768| -87.62615082|(41.871834768, -8...|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

In [ ]:
df.columns

['ID',
 'Case Number',
 'Date',
 'Block',
 'IUCR',
 'Primary Type',
 'Description',
 'Location Description',
 'Arrest',
 'Domestic',
 'Beat',
 'District',
 'Ward',
 'Community Area',
 'FBI Code',
 'X Coordinate',
 'Y Coordinate',
 'Year',
 'Updated On',
 'Latitude',
 'Longitude',
 'Location']

In [ ]:
df.select(col('Description')).show(5)

+--------------------+
|         Description|
+--------------------+
|   CHILD PORNOGRAPHY|
|MANUFACTURE / DEL...|
|      NON-AGGRAVATED|
|          TO VEHICLE|
|           OVER $500|
+--------------------+
only showing top 5 rows

In [ ]:
# Possibilité de selectionner plus d'une colonne
df.select('Date','Description','Arrest').show(5)

+-------------------+--------------------+------+
|               Date|         Description|Arrest|
+-------------------+--------------------+------+
|2022-07-29 03:39:00|   CHILD PORNOGRAPHY|  true|
|2023-01-03 16:44:00|MANUFACTURE / DEL...|  true|
|2017-08-26 10:00:00|      NON-AGGRAVATED| false|
|2023-09-06 17:00:00|          TO VEHICLE| false|
|2023-09-06 11:00:00|           OVER $500| false|
+-------------------+--------------------+------+
only showing top 5 rows

In [ ]:
# On va creer une nouvelle colonne dans notre DataFrame
from pyspark.sql.functions import lit

In [ ]:
df.withColumn('One', lit(1)).show(10)

+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|      ID|Case Number|               Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|One|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|13311263|   JG503434|2022-07-29 03:39:00|     023XX S TROY ST|1582|OFFENSE INVOLVING...|   CHILD PORNOGRAPHY|           RESIDENCE|  true|   false|1033|     010|  25|            30|      17|        NULL|        NULL|2022|04/18/2024 03:40:...|        NULL|         NULL|                NULL|  1|
|13053066|   JG103252|2023-01-03 16:44:00|039XX W WASHINGTO...|2017|           NARCOTICS|MANUFACTURE / DEL...|            SIDEWALK|  true|   false|1122|     011|  28|            26|      18|        NULL|        NULL|2023|01/20/2024 03:41:...|        NULL|         NULL|                NULL|  1|
|11227634|   JB147599|2017-08-26 10:00:00| 001XX W RANDOLPH ST|0281| CRIM SEXUAL ASSAULT|      NON-AGGRAVATED|         HOTEL/MOTEL| false|   false|0122|     001|  42|            32|      02|        NULL|        NULL|2017|02/11/2018 03:57:...|        NULL|         NULL|                NULL|  1|
|13203321|   JG415333|2023-09-06 17:00:00|    002XX N Wells st|1320|     CRIMINAL DAMAGE|          TO VEHICLE|PARKING LOT / GAR...| false|   false|0122|     001|  42|            32|      14|     1174694|     1901831|2023|11/04/2023 03:40:...|41.886018055|-87.633937881|(41.886018055, -8...|  1|
|13204489|   JG416325|2023-09-06 11:00:00|      0000X E 8TH ST|0810|               THEFT|           OVER $500|PARKING LOT / GAR...| false|   false|0123|     001|   4|            32|      06|     1176857|     1896680|2023|11/04/2023 03:40:...|41.871834768| -87.62615082|(41.871834768, -8...|  1|
|11695116|   JC272771|2019-05-21 08:20:00|018XX S CALIFORNI...|0620|            BURGLARY|      UNLAWFUL ENTRY|           RESIDENCE| false|   false|1023|     010|  25|            29|      05|     1157982|     1890961|2019|01/19/2024 03:40:...|41.856547057|-87.695604526|(41.856547057, -8...|  1|
|12419690|   JE295655|2021-07-07 10:30:00|132XX S GREENWOOD...|1544|         SEX OFFENSE|SEXUAL EXPLOITATI...|           RESIDENCE| false|   false|0533|     005|  10|            54|      17|     1186051|     1817781|2021|01/19/2024 03:40:...| 41.65511579|-87.594883198|(41.65511579, -87...|  1|
|12729745|   JF279458|2022-06-14 14:47:00| 035XX N CENTRAL AVE|0340|             ROBBERY|ATTEMPT STRONG AR...|                BANK|  true|   false|1633|     016|  30|            15|      03|     1138391|     1923142|2022|01/19/2024 03:40:...|41.945232412|-87.766734668|(41.945232412, -8...|  1|
|12835559|   JF406130|2022-09-21 22:00:00|     004XX E 69TH ST|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|     OTHER (SPECIFY)|  true|   false|0322|     003|   6|            69|      07|     1180204|     1859359|2022|01/19/2024 03:40:...|41.769346711|-87.615008288|(41.769346711, -8...|  1|
|13003649|   JG177593|2023-02-22 13:50:00|   070XX S CLYDE AVE|0610|            BURGLARY|      FORCIBLE ENTRY|RESIDENCE - PORCH...|  true|   false|0331|     003|   5|            43|      05|     1191427|     1858753|2023|01/19/2024 03:40:...|41.767419224|-87.573890196|(41.767419224, -8...|  1|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
only showing top 10 rows

In [ ]:
# Crimes signalés le 25-12-2023
one_day = df.filter(col('Date') == lit('2023-12-25'))
one_day

DataFrame[ID: string, Case Number: string, Date: timestamp, Block: string, IUCR: string, Primary Type: string, Description: string, Location Description: string, Arrest: string, Domestic: string, Beat: string, District: string, Ward: string, Community Area: string, FBI Code: string, X Coordinate: string, Y Coordinate: string, Year: string, Updated On: string, Latitude: string, Longitude: string, Location: string]

In [ ]:
one_day.count()

25

In [ ]:
one_day.show()

+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|13318475|   JG553993|2023-12-25 00:00:00| 078XX S LANGLEY AVE|0810|               THEFT|           OVER $500|              STREET| false|   false|0624|     006|   6|            69|      06|     1182252|     1853243|2023|12/21/2024 03:40:...|41.752516599| -87.60769045|(41.752516599, -8...|
|13321436|   JG554999|2023-12-25 00:00:00|  027XX W MEDILL AVE|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|1431|     014|   1|            22|      07|     1157667|     1915493|2023|12/21/2024 03:40:...|41.923871514|-87.696092023|(41.923871514, -8...|
|13321988|   JG554563|2023-12-25 00:00:00|036XX N MAGNOLIA AVE|0930| MOTOR VEHICLE THEFT|THEFT / RECOVERY ...|              STREET| false|   false|1923|     019|  44|             6|      07|     1167308|     1924397|2023|12/21/2024 03:40:...|41.948102465|-87.660410519|(41.948102465, -8...|
|13321425|   JG557395|2023-12-25 00:00:00|   019XX W OGDEN AVE|1220|  DECEPTIVE PRACTICE|THEFT OF LOST / M...|VEHICLE - OTHER R...| false|   false|1225|     012|  28|            28|      11|     1163673|     1897489|2023|12/21/2024 03:40:...|41.874342594|-87.674531651|(41.874342594, -8...|
|13318703|   JG554228|2023-12-25 00:00:00|     035XX W 58TH ST|5001|       OTHER OFFENSE|OTHER CRIME INVOL...|           APARTMENT| false|   false|0822|     008|  14|            63|      26|     1153847|     1865929|2023|12/21/2024 03:40:...|41.787939234|-87.711447285|(41.787939234, -8...|
|13320360|   JG555939|2023-12-25 00:00:00|  047XX N RACINE AVE|0265|CRIMINAL SEXUAL A...|  AGGRAVATED - OTHER|           APARTMENT| false|   false|1913|     019|  46|             3|      02|     1167458|     1931452|2023|12/21/2024 03:40:...|41.967458424|-87.659655286|(41.967458424, -8...|
|13319398|   JG555051|2023-12-25 00:00:00|  030XX W JARLATH ST|0430|             BATTERY|AGGRAVATED - OTHE...|           RESIDENCE| false|   false|2411|     024|  50|             2|     04B|     1154979|     1947902|2023|12/21/2024 03:40:...|42.012858093|-87.705095615|(42.012858093, -8...|
|13320136|   JG555955|2023-12-25 00:00:00|    059XX N NEVA AVE|0820|               THEFT|      $500 AND UNDER|              STREET| false|   false|1612|     016|  41|            10|      06|     1127703|     1939053|2023|12/21/2024 03:40:...|41.989081057|-87.805660262|(41.989081057, -8...|
|13320187|   JG556018|2023-12-25 00:00:00|   010XX W TAYLOR ST|0820|               THEFT|      $500 AND UNDER|              STREET| false|   false|1232|     012|  34|            28|      06|     1169951|     1895772|2023|12/21/2024 03:40:...|41.869496477|-87.651531841|(41.869496477, -8...|
|13318532|   JG554056|2023-12-25 00:00:00|   006XX W MONROE ST|1320|     CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|0121|     001|  34|            28|      14|     1172243|     1899816|2023|12/21/2024 03:40:...|41.880543228|-87.642997936|(41.880543228, -8...|
|13318884|   JG554431|2023-12-25 00:00:00|054XX W FULLERTON...|0560|             ASSAULT|              SIMPLE|           APARTMENT| false|    true|2515|     025|  31|            19|     08A|     1139841|     1915427|2023|12/21/2024 03:40:...|41.924035234|-87.761594059|(41.924035234, -8...|
|13318892|   JG554441|2023-12-25 00:00:00|088XX S CARPENTER ST|0920| MOTOR VEHICLE THEFT|ATTEMPT - AUTOMOBILE|              STREET| false|   false|2222|     022|  21|            71|      07|     1170860|     1846267|2023|12/21/2024 03:40:...|41.733629585|-87.649640304|(41.733629585, -8...|
|13318368|   JG553821|2023-12-25 00:00:00| 010XX N LA SALLE DR|0560|             ASSAULT|              SIMPLE|            SIDEWALK| false|   false|1824|     018|   2|             8|     08A|     1174943|     1907477|2023|12/21/2024 03:40:...|41.901505411| -87.63285424|(41.901505411, -8...|
|13318726|   JG554241|2023-12-25 00:00:00|   020XX S MORGAN ST|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|1235|     012|  25|            31|      07|     1170010|     1890399|2023|12/21/2024 03:40:...|41.854751251|-87.651471903|(41.854751251, -8...|
|13319432|   JG555008|2023-12-25 00:00:00|097XX S MICHIGAN AVE|0560|             ASSAULT|              SIMPLE|           RESIDENCE| false|    true|0511|     005|   9|            49|     08A|     1178864|     1840441|2023|12/21/2024 03:40:...|41.717464086|-87.620494507|(41.717464086, -8...|
|13318458|   JG553938|2023-12-25 00:00:00|     027XX W 68TH ST|0460|             BATTERY|              SIMPLE|HOSPITAL BUILDING...| false|   false|0831|     008|  16|            66|     08B|     1159381|     1859440|2023|12/21/2024 03:40:...|41.770020864|  -87.6913338|(41.770020864, -8...|
|13321478|   JG557372|2023-12-25 00:00:00| 077XX S ASHLAND AVE|1130|  DECEPTIVE PRACTICE|FRAUD OR CONFIDEN...|           APARTMENT| false|   false|0612|     006|  17|            71|      11|     1167016|     1853492|2023|12/21/2024 03:40:...|41.753538951|-87.663516805|(41.753538951, -8...|
|13318663|   JG554118|2023-12-25 00:00:00| 004XX S FRANKLIN ST|0810|               THEFT|           OVER $500|PARKING LOT / GAR...| false|   false|0122|     001|  34|            32|      06|     1174386|     1898413|2023|12/21/2024 03:40:...|41.876645737|-87.635171022|(41.876645737, -8...|
|13318496|   JG554028|2023-12-25 00:00:00|  002XX N WALLER AVE|0820|               THEFT|      $500 AND UNDER|              STREET| false|   false|1512|     015|  29|            25|      06|     1138112|     1901061|2023|12/21/2024 03:40:...|41.884644659|-87.768294892|(41.884644659, -8...|
|13319146|   JG554711|2023-12-25 00:00:00|034XX W IRVING PA...|0920| MOTOR VEHICLE THEFT|ATTEMPT - AUTOMOBILE|              STREET| false|   false|1723|     017|  33|            16|      07|     1152802|     1926381|2023|12/21/2024 03:40:...| 41.95384684|-87.713678833|(41.95384684, -87...|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

In [ ]:
# Pour verifier s'il y'a des duplications
one_day.distinct().count()

25

In [ ]:
df.distinct().count()

8305598

In [ ]:
# On va compter Primart Type suivant ses modalités
df.groupBy('Primary Type').count().show()

+--------------------+-------+
|        Primary Type|  count|
+--------------------+-------+
|OFFENSE INVOLVING...|  59583|
|CRIMINAL SEXUAL A...|  10554|
|            STALKING|   5865|
|PUBLIC PEACE VIOL...|  54232|
|           OBSCENITY|    925|
|               ARSON|  14235|
|   DOMESTIC VIOLENCE|      1|
|            GAMBLING|  14653|
|   CRIMINAL TRESPASS| 224121|
|             ASSAULT| 553315|
|LIQUOR LAW VIOLATION|  15289|
| MOTOR VEHICLE THEFT| 422248|
|               THEFT|1760904|
|             BATTERY|1513221|
|             ROBBERY| 311585|
|            HOMICIDE|  13741|
|           RITUALISM|     24|
|    PUBLIC INDECENCY|    214|
| CRIM SEXUAL ASSAULT|  27330|
|   HUMAN TRAFFICKING|    133|
+--------------------+-------+
only showing top 20 rows

In [ ]:
df.select("Arrest").distinct().show()

+------+
|Arrest|
+------+
| false|
|  true|
+------+

In [ ]:
df.filter(col("Arrest") == "true").count() / df.select("Arrest").count()

0.25367950627998126

25,36% des crimes signalés ont conduit à des arrestations

In [ ]:
# Les 3 principaux lieux pour les crimes signalés
n_location = df.groupBy("Location Description").count()
n_location.show()

+--------------------+------+
|Location Description| count|
+--------------------+------+
|   RAILROAD PROPERTY|    16|
|SCHOOL - PRIVATE ...|  1403|
|AIRPORT TERMINAL ...|  2633|
|VEHICLE - COMMERCIAL|  1189|
|EXPRESSWAY EMBANK...|     1|
|RESIDENCE - YARD ...| 14329|
|POLICE FACILITY/V...| 18560|
|               MOTEL|     7|
|CHA PARKING LOT /...|  2201|
|            SIDEWALK|755787|
|AIRPORT TERMINAL ...|   146|
|PUBLIC GRAMMAR SC...|     2|
|OTHER RAILROAD PR...|   676|
|CTA GARAGE / OTHE...| 10276|
|            CAR WASH|  3572|
|   TRUCKING TERMINAL|     1|
|    AIRPORT/AIRCRAFT| 16296|
|            HOSPITAL|    18|
|    FEDERAL BUILDING|  1055|
|MEDICAL/DENTAL OF...|  7429|
+--------------------+------+
only showing top 20 rows

In [ ]:
# On va ordonner par ordre decroissant
n_location.orderBy('count', ascending=False).show()

+--------------------+-------+
|Location Description|  count|
+--------------------+-------+
|              STREET|2169606|
|           RESIDENCE|1369179|
|           APARTMENT| 978842|
|            SIDEWALK| 755787|
|               OTHER| 269961|
|PARKING LOT/GARAG...| 202939|
|               ALLEY| 184804|
|  SMALL RETAIL STORE| 165152|
|SCHOOL, PUBLIC, B...| 146370|
|          RESTAURANT| 139080|
|    RESIDENCE-GARAGE| 135308|
|VEHICLE NON-COMME...| 131532|
|RESIDENCE PORCH/H...| 124170|
|    DEPARTMENT STORE| 109026|
|  GROCERY FOOD STORE| 103881|
|         GAS STATION|  92644|
|RESIDENTIAL YARD ...|  75140|
|COMMERCIAL / BUSI...|  67981|
|       PARK PROPERTY|  62405|
|CHA PARKING LOT/G...|  56099|
+--------------------+-------+
only showing top 20 rows

In [7]:
# Activité non criminelle la moins signalée
df.groupBy('Primary Type').count().orderBy('count', ascending=True).show()

+--------------------+-----+
|        Primary Type|count|
+--------------------+-----+
|   DOMESTIC VIOLENCE|    1|
|NON-CRIMINAL (SUB...|    9|
|           RITUALISM|   24|
|      NON - CRIMINAL|   38|
|   HUMAN TRAFFICKING|  133|
|OTHER NARCOTIC VI...|  157|
|        NON-CRIMINAL|  189|
|    PUBLIC INDECENCY|  214|
|           OBSCENITY|  926|
|CONCEALED CARRY L...| 1529|
|        INTIMIDATION| 5033|
|            STALKING| 5865|
|          KIDNAPPING| 7454|
|CRIMINAL SEXUAL A...|10566|
|            HOMICIDE|13742|
|               ARSON|14239|
|            GAMBLING|14654|
|LIQUOR LAW VIOLATION|15292|
|INTERFERENCE WITH...|19783|
| CRIM SEXUAL ASSAULT|27326|
+--------------------+-----+
only showing top 20 rows

In [14]:
# Les 30 premieres observations
df.select('Primary Type').show(30, truncate=30)

+--------------------------+
|              Primary Type|
+--------------------------+
|OFFENSE INVOLVING CHILDREN|
|                 NARCOTICS|
|       CRIM SEXUAL ASSAULT|
|           CRIMINAL DAMAGE|
|                     THEFT|
|                  BURGLARY|
|               SEX OFFENSE|
|                   ROBBERY|
|       MOTOR VEHICLE THEFT|
|                  BURGLARY|
|                   BATTERY|
|                   BATTERY|
|                  HOMICIDE|
|                  HOMICIDE|
|                   ROBBERY|
|                   ROBBERY|
|                   ROBBERY|
|                  BURGLARY|
|                   ROBBERY|
|   CRIMINAL SEXUAL ASSAULT|
|OFFENSE INVOLVING CHILDREN|
|OFFENSE INVOLVING CHILDREN|
|OFFENSE INVOLVING CHILDREN|
|             OTHER OFFENSE|
|OFFENSE INVOLVING CHILDREN|
|               SEX OFFENSE|
|                   ROBBERY|
|               SEX OFFENSE|
|   CRIMINAL SEXUAL ASSAULT|
|         WEAPONS VIOLATION|
+--------------------------+
only showing top 30 rows

In [7]:
n_crime_type = df.select('Primary Type').distinct().count()
n_crime_type

36

In [9]:
# Afficher toutes les types de Crime
df.select('Primary Type').distinct().show(n_crime_type, truncate=False)

+---------------------------------+
|Primary Type                     |
+---------------------------------+
|OFFENSE INVOLVING CHILDREN       |
|CRIMINAL SEXUAL ASSAULT          |
|STALKING                         |
|PUBLIC PEACE VIOLATION           |
|OBSCENITY                        |
|ARSON                            |
|DOMESTIC VIOLENCE                |
|GAMBLING                         |
|CRIMINAL TRESPASS                |
|ASSAULT                          |
|LIQUOR LAW VIOLATION             |
|MOTOR VEHICLE THEFT              |
|THEFT                            |
|BATTERY                          |
|ROBBERY                          |
|HOMICIDE                         |
|RITUALISM                        |
|PUBLIC INDECENCY                 |
|CRIM SEXUAL ASSAULT              |
|HUMAN TRAFFICKING                |
|INTIMIDATION                     |
|PROSTITUTION                     |
|DECEPTIVE PRACTICE               |
|CONCEALED CARRY LICENSE VIOLATION|
|SEX OFFENSE                      |
|CRIMINAL DAMAGE                  |
|NARCOTICS                        |
|NON-CRIMINAL                     |
|OTHER OFFENSE                    |
|KIDNAPPING                       |
|BURGLARY                         |
|WEAPONS VIOLATION                |
|OTHER NARCOTIC VIOLATION         |
|INTERFERENCE WITH PUBLIC OFFICER |
|NON-CRIMINAL (SUBJECT SPECIFIED) |
|NON - CRIMINAL                   |
+---------------------------------+

In [15]:
from pyspark.sql.functions import col
# On va creer une DataFrame des activités non criminelles
nc = df.filter(
    (col('Primary Type') == 'NON - CRIMINAL') | (col('Primary Type') == 'NON-CRIMINAL') | (col('Primary Type') == 'NON-CRIMINAL (SUBJECT SPECIFIED)')
)
nc.show()

+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|                Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|13710892|   JJ103416|01/04/2025 02:35:...| 011XX W SHERIDAN RD|1481|        NON-CRIMINAL|CONCEALED CARRY L...|              STREET|  true|   false|2433|     024|  48|            77|      15|     1167249|     1942651|2025|01/12/2025 03:41:...|41.998193288|-87.660100094|(41.998193288, -8...|
|13280353|   JG507932|11/17/2023 01:17:...|014XX S BLUE ISLA...|1481|        NON-CRIMINAL|CONCEALED CARRY L...|POLICE FACILITY /...| false|   false|1233|     012|  28|            28|      15|     1168519|     1893359|2023|11/25/2023 03:41:...|41.862906101|-87.656858884|(41.862906101, -8...|
| 8773145|   HV447848|08/25/2012 03:00:...|    100XX W OHARE ST|5093|        NON-CRIMINAL|       LOST PASSPORT|AIRPORT TERMINAL ...|  true|   false|1651|     016|  41|            76|      26|     1100658|     1934241|2012|02/10/2018 03:50:...|41.976290414|-87.905227221|(41.976290414, -8...|
| 8602092|   HV276324|05/07/2012 10:30:...|    001XX W ADAMS ST|5093|        NON-CRIMINAL|       LOST PASSPORT|             TAXICAB| false|   false|0122|     001|  42|            32|      26|     1175062|     1899421|2012|02/04/2016 06:33:...|41.879396635|-87.632658775|(41.879396635, -8...|
| 8701089|   HV377321|07/06/2012 10:00:...|   009XX W ROSCOE ST|5093|        NON-CRIMINAL|       LOST PASSPORT|            SIDEWALK| false|   false|1924|     019|  44|             6|      26|     1169358|     1922759|2012|02/04/2016 06:33:...|41.943563314|-87.652923006|(41.943563314, -8...|
| 8613948|   HV287619|05/05/2012 03:00:...|004XX N MICHIGAN AVE|5093|        NON-CRIMINAL|       LOST PASSPORT|              STREET| false|   false|1834|     018|  42|             8|      26|     1177329|     1903108|2012|02/04/2016 06:33:...| 41.88946287|-87.624222942|(41.88946287, -87...|
| 8714358|   HV390850|07/19/2012 04:00:...|008XX N MICHIGAN AVE|5093|        NON-CRIMINAL|       LOST PASSPORT|COMMERCIAL / BUSI...| false|   false|1833|     018|  42|             8|      26|     1177338|     1906181|2012|02/10/2018 03:50:...|41.897895128|-87.624096605|(41.897895128, -8...|
| 8720297|   HV397127|07/21/2012 02:00:...|  0000X W HUBBARD ST|5093|        NON-CRIMINAL|       LOST PASSPORT|              STREET| false|   false|1831|     018|  42|             8|      26|     1176050|     1903312|2012|02/04/2016 06:33:...|41.890051565| -87.62891376|(41.890051565, -8...|
| 8920098|   HV592222|12/06/2012 11:30:...|     020XX W 51ST ST|5073|NON-CRIMINAL (SUB...|NOTIFICATION OF C...|           APARTMENT| false|    true|0931|     009|  16|            61|      26|     1163437|     1870837|2012|02/10/2018 03:50:...|41.801211675|-87.676146832|(41.801211675, -8...|
| 8819689|   HV492871|09/26/2012 05:20:...| 059XX N ROCKWELL ST|5073|NON-CRIMINAL (SUB...|NOTIFICATION OF C...|            SIDEWALK|  true|   false|2011|     020|  40|             2|      26|     1157923|     1939345|2012|02/10/2018 03:50:...| 41.98931757|-87.694498035|(41.98931757, -87...|
| 9062806|   HW207631|03/26/2013 04:00:...|067XX S JEFFERY BLVD|5094|        NON-CRIMINAL|      FOUND PASSPORT|             CTA BUS| false|   false|0332|     003|   5|            43|      26|     1190703|     1860780|2013|02/10/2018 03:50:...|41.772998982|-87.576478539|(41.772998982, -8...|
| 9148621|   HW294531|05/01/2013 09:00:...|034XX N LAKE SHOR...|5093|        NON-CRIMINAL|       LOST PASSPORT|           APARTMENT|  true|   false|1925|     019|  44|             6|      26|     1172449|     1923411|2013|02/10/2018 03:50:...|41.945284535|-87.641542722|(41.945284535, -8...|
| 9436491|   HW580783|12/17/2013 10:00:...|  057XX S CICERO AVE|5093|        NON-CRIMINAL|       LOST PASSPORT|            AIRCRAFT| false|   false|0813|     008|  23|            56|      26|     1145654|     1866253|2013|02/10/2018 03:50:...|41.788987036| -87.74147999|(41.788987036, -8...|
| 9284607|   HW428723|08/29/2013 09:30:...|    007XX E 111TH ST|5114|      NON - CRIMINAL|   FOID - REVOCATION|POLICE FACILITY/V...| false|   false|0531|     005|   9|            50|      26|     1183356|     1831503|2013|02/10/2018 03:50:...|41.692833841| -87.60431945|(41.692833841, -8...|
| 9406560|   HW549849|11/27/2013 10:20:...|    022XX E 103RD ST|5114|      NON - CRIMINAL|   FOID - REVOCATION|POLICE FACILITY/V...| false|   false|0434|     004|  10|            51|      26|     1192874|     1837123|2013|02/10/2018 03:50:...|41.708029389|-87.569290282|(41.708029389, -8...|
| 9402173|   HW545106|11/22/2013 02:00:...|  002XX W ONTARIO ST|5093|        NON-CRIMINAL|       LOST PASSPORT|       BAR OR TAVERN| false|   false|1831|     018|  42|             8|      26|     1174469|     1904439|2013|02/10/2018 03:50:...|41.893179585|-87.634686145|(41.893179585, -8...|
| 9366682|   HW510040|10/28/2013 07:15:...|     019XX W OHIO ST|5114|      NON - CRIMINAL|   FOID - REVOCATION|           RESIDENCE| false|   false|1221|     012|   1|            24|      26|     1163389|     1904029|2013|02/10/2018 03:50:...|41.892294874|-87.675390277|(41.892294874, -8...|
| 9640214|   HX290853|06/05/2014 10:00:...|026XX S CALIFORNI...|5114|      NON - CRIMINAL|   FOID - REVOCATION|GOVERNMENT BUILDI...| false|   false|1033|     010|  12|            30|      26|     1158136|     1886128|2014|02/10/2018 03:50:...|41.843281635|-87.695171094|(41.843281635, -8...|
| 9684549|   HX334987|06/30/2014 10:00:...|062XX W EASTWOOD AVE|5114|      NON - CRIMINAL|   FOID - REVOCATION|              STREET| false|   false|1622|     016|  38|            15|      26|     1133693|     1930201|2014|02/10/2018 03:50:...|41.964686958|-87.783836648|(41.964686958, -8...|
| 9507785|   HX163428|02/24/2014 09:18:...|   029XX S LOOMIS ST|5073|NON-CRIMINAL (SUB...|NOTIFICATION OF C...|           APARTMENT| false|    true|0913|     009|  11|            60|      26|     1168619|     1885264|2014|02/04/2016 06:33:...|41.840690549|-87.656725939|(41.840690549, -8...|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

In [16]:
nc.count()

236

In [17]:
# Activité non criminelle la plus signalée
nc.groupBy('Description').count().orderBy('count', ascending=False).show()

+--------------------+-----+
|         Description|count|
+--------------------+-----+
|       LOST PASSPORT|  111|
|   FOID - REVOCATION|   76|
|CONCEALED CARRY L...|   25|
|NOTIFICATION OF C...|    9|
|NOTIFICATION OF S...|    8|
|      FOUND PASSPORT|    4|
|GUN OFFENDER NOTI...|    3|
+--------------------+-----+

l'activité non criminelle la plus signalée reste Lost passport

In [19]:
# Pour connaitre d'autres fonctions de ce module
from pyspark.sql import functions
dir(functions)

['Any',
 'ArrayType',
 'Callable',
 'Column',
 'DataFrame',
 'DataType',
 'Dict',
 'Iterable',
 'JVMView',
 'List',
 'Optional',
 'PandasUDFType',
 'PySparkTypeError',
 'PySparkValueError',
 'SparkContext',
 'StringType',
 'StructType',
 'TYPE_CHECKING',
 'Tuple',
 'Type',
 'Union',
 'UserDefinedFunction',
 'UserDefinedTableFunction',
 'ValuesView',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_create_column_from_literal',
 '_create_lambda',
 '_create_py_udf',
 '_create_py_udtf',
 '_from_numpy_type',
 '_get_jvm_function',
 '_get_lambda_parameters',
 '_invoke_binary_math_function',
 '_invoke_function',
 '_invoke_function_over_columns',
 '_invoke_function_over_seq_of_columns',
 '_invoke_higher_order_function',
 '_options_to_str',
 '_test',
 '_to_java_column',
 '_to_seq',
 '_unresolved_named_lambda_variable',
 'abs',
 'acos',
 'acosh',
 'add_months',
 'aes_decrypt',
 'aes_encrypt',
 'aggregate',
 'any_value',
 'approxCountDistinct',
 'approx_count_distinct',
 'approx_percentile',
 'array',
 'array_agg',
 'array_append',
 'array_compact',
 'array_contains',
 'array_distinct',
 'array_except',
 'array_insert',
 'array_intersect',
 'array_join',
 'array_max',
 'array_min',
 'array_position',
 'array_prepend',
 'array_remove',
 'array_repeat',
 'array_size',
 'array_sort',
 'array_union',
 'arrays_overlap',
 'arrays_zip',
 'asc',
 'asc_nulls_first',
 'asc_nulls_last',
 'ascii',
 'asin',
 'asinh',
 'assert_true',
 'atan',
 'atan2',
 'atanh',
 'avg',
 'base64',
 'bin',
 'bit_and',
 'bit_count',
 'bit_get',
 'bit_length',
 'bit_or',
 'bit_xor',
 'bitmap_bit_position',
 'bitmap_bucket_number',
 'bitmap_construct_agg',
 'bitmap_count',
 'bitmap_or_agg',
 'bitwiseNOT',
 'bitwise_not',
 'bool_and',
 'bool_or',
 'broadcast',
 'bround',
 'btrim',
 'bucket',
 'call_function',
 'call_udf',
 'cardinality',
 'cast',
 'cbrt',
 'ceil',
 'ceiling',
 'char',
 'char_length',
 'character_length',
 'coalesce',
 'col',
 'collect_list',
 'collect_set',
 'column',
 'concat',
 'concat_ws',
 'contains',
 'conv',
 'convert_timezone',
 'corr',
 'cos',
 'cosh',
 'cot',
 'count',
 'countDistinct',
 'count_distinct',
 'count_if',
 'count_min_sketch',
 'covar_pop',
 'covar_samp',
 'crc32',
 'create_map',
 'csc',
 'cume_dist',
 'curdate',
 'current_catalog',
 'current_database',
 'current_date',
 'current_schema',
 'current_timestamp',
 'current_timezone',
 'current_user',
 'date_add',
 'date_diff',
 'date_format',
 'date_from_unix_date',
 'date_part',
 'date_sub',
 'date_trunc',
 'dateadd',
 'datediff',
 'datepart',
 'day',
 'dayofmonth',
 'dayofweek',
 'dayofyear',
 'days',
 'decimal',
 'decode',
 'degrees',
 'dense_rank',
 'desc',
 'desc_nulls_first',
 'desc_nulls_last',
 'e',
 'element_at',
 'elt',
 'encode',
 'endswith',
 'equal_null',
 'every',
 'exists',
 'exp',
 'explode',
 'explode_outer',
 'expm1',
 'expr',
 'extract',
 'factorial',
 'filter',
 'find_in_set',
 'first',
 'first_value',
 'flatten',
 'floor',
 'forall',
 'format_number',
 'format_string',
 'from_csv',
 'from_json',
 'from_unixtime',
 'from_utc_timestamp',
 'functools',
 'get',
 'get_active_spark_context',
 'get_json_object',
 'getbit',
 'greatest',
 'grouping',
 'grouping_id',
 'has_numpy',
 'hash',
 'hex',
 'histogram_numeric',
 'hll_sketch_agg',
 'hll_sketch_estimate',
 'hll_union',
 'hll_union_agg',
 'hour',
 'hours',
 'hypot',
 'ifnull',
 'ilike',
 'initcap',
 'inline',
 'inline_outer',
 'input_file_block_length',
 'input_file_block_start',
 'input_file_name',
 'inspect',
 'instr',
 'isnan',
 'isnotnull',
 'isnull',
 'java_method',
 'json_array_length',
 'json_object_keys',
 'json_tuple',
 'kurtosis',
 'lag',
 'last',
 'last_day',
 'last_value',
 'lcase',
 'lead',
 'least',
 'left',
 'length',
 'levenshtein',
 'like',
 'lit',
 'ln',
 'localtimestamp',
 'locate',
 'log',
 'log10',
 'log1p',
 'log2',
 'lower',
 'lpad',
 'ltrim',
 'make_date',
 'make_dt_interval',
 'make_interval',
 'make_timestamp',
 'make_timestamp_ltz',
 'make_timestamp_ntz',
 'make_ym_interval',
 'map_concat',
 'map_contains_key',
 'map_entries',
 'map_filter',
 'map_from_arrays',
 'map_from_entries',
 'map_keys',
 'map_values',
 'map_zip_with',
 'mask',
 'max',
 'max_by',
 'md5',
 'mean',
 'median',
 'min',
 'min_by',
 'minute',
 'mode',
 'monotonically_increasing_id',
 'month',
 'months',
 'months_between',
 'named_struct',
 'nanvl',
 'negate',
 'negative',
 'next_day',
 'now',
 'np',
 'nth_value',
 'ntile',
 'nullif',
 'nvl',
 'nvl2',
 'octet_length',
 'overlay',
 'overload',
 'pandas_udf',
 'parse_url',
 'percent_rank',
 'percentile',
 'percentile_approx',
 'pi',
 'pmod',
 'posexplode',
 'posexplode_outer',
 'position',
 'positive',
 'pow',
 'power',
 'printf',
 'product',
 'quarter',
 'radians',
 'raise_error',
 'rand',
 'randn',
 'rank',
 'reduce',
 'reflect',
 'regexp',
 'regexp_count',
 'regexp_extract',
 'regexp_extract_all',
 'regexp_instr',
 'regexp_like',
 'regexp_replace',
 'regexp_substr',
 'regr_avgx',
 'regr_avgy',
 'regr_count',
 'regr_intercept',
 'regr_r2',
 'regr_slope',
 'regr_sxx',
 'regr_sxy',
 'regr_syy',
 'repeat',
 'replace',
 'reverse',
 'right',
 'rint',
 'rlike',
 'round',
 'row_number',
 'rpad',
 'rtrim',
 'schema_of_csv',
 'schema_of_json',
 'sec',
 'second',
 'sentences',
 'sequence',
 'session_window',
 'sha',
 'sha1',
 'sha2',
 'shiftLeft',
 'shiftRight',
 'shiftRightUnsigned',
 'shiftleft',
 'shiftright',
 'shiftrightunsigned',
 'shuffle',
 'sign',
 'signum',
 'sin',
 'sinh',
 'size',
 'skewness',
 'slice',
 'some',
 'sort_array',
 'soundex',
 'spark_partition_id',
 'split',
 'split_part',
 'sqrt',
 'stack',
 'startswith',
 'std',
 'stddev',
 'stddev_pop',
 'stddev_samp',
 'str_to_map',
 'struct',
 'substr',
 'substring',
 'substring_index',
 'sum',
 'sumDistinct',
 'sum_distinct',
 'sys',
 'tan',
 'tanh',
 'timestamp_micros',
 'timestamp_millis',
 'timestamp_seconds',
 'toDegrees',
 'toRadians',
 'to_binary',
 'to_char',
 'to_csv',
 'to_date',
 'to_json',
 'to_number',
 'to_str',
 'to_timestamp',
 'to_timestamp_ltz',
 'to_timestamp_ntz',
 'to_unix_timestamp',
 'to_utc_timestamp',
 'to_varchar',
 'transform',
 'transform_keys',
 'transform_values',
 'translate',
 'trim',
 'trunc',
 'try_add',
 'try_aes_decrypt',
 'try_avg',
 'try_divide',
 'try_element_at',
 'try_multiply',
 'try_remote_functions',
 'try_subtract',
 'try_sum',
 'try_to_binary',
 'try_to_number',
 'try_to_timestamp',
 'typeof',
 'ucase',
 'udf',
 'udtf',
 'unbase64',
 'unhex',
 'unix_date',
 'unix_micros',
 'unix_millis',
 'unix_seconds',
 'unix_timestamp',
 'unwrap_udt',
 'upper',
 'url_decode',
 'url_encode',
 'user',
 'var_pop',
 'var_samp',
 'variance',
 'version',
 'warnings',
 'weekday',
 'weekofyear',
 'when',
 'width_bucket',
 'window',
 'window_time',
 'xpath',
 'xpath_boolean',
 'xpath_double',
 'xpath_float',
 'xpath_int',
 'xpath_long',
 'xpath_number',
 'xpath_short',
 'xpath_string',
 'xxhash64',
 'year',
 'years',
 'zip_with']

In [20]:
len(dir(functions))

484